<% layout('layouts/boilerplate.ejs') %> 

<link rel="stylesheet" href="/stylesheets/index.css">
  
<div id="cluster"></div>

    <h1>All Campgrounds</h1>
       
        <% if(currentUser) { %> 
        <div id="addCampground">
            <a id="addLink" href="/campgrounds/new">Add Campground</a>
        </div>
        <% } %> 

        <div class="container" id="infiniteScroll">
            <div class="row">
            <%  for (let campground of campgrounds) { %>
           
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card mb-3 mt-3">
                        
                        <% if(campground.images.length) { %>
                            <div class="card-img">
                        <img src="<%= campground.images[0].url %>" alt="" class="img-fluid img-thumbnail">
                    </div>
                        <% } else { %> 
                        <img src="https://i.imgur.com/QCjC7e4.png" class="img-fluid img-thumbnail" alt="">
                            <% } %>
                      
                        <div class="card-body">
                            <h5 class="card-title"> <%= campground.title %> </h5>
                            <p class="card-text"> <small class="text-muted">  <%= campground.location %></small></p>
                            <a class="btn btn-primary" id="showButton" href="/campgrounds/<%= campground._id %> ">View <%= campground.title %> </a>
                        </div>
                    </div>
                </div>
            

            <% } %> 
        </div>
        </div>
        
       

       
        <script>    
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
        </script>
        <script src="/javascripts/clusterMap.js"></script>
